<% include ../partials/header %>

<h1>This is the live page</h1>
<h2>If you need to do page specific styling do it inside the ejs file</h2>
<h2>Other scripts can be added to the end of the body before  <%% include ../partials/footer %></h2>

<% include ../partials/footer %>
