<% include ../partials/header %>
<div style="...">
    <h1>Create a Group</h1>
    <form action="/groups/new" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="groupName">Group Name:
            <input type = 'text' id="groupName" name="groupName" placeholder="Group Name" required>
            </label>
        </div>
        <div class="form-group">
<!--            TODO:Possibly add method to make this dynamic-->
            <h2>Add Members</h2>
            <label for="member">
                1:
                <input type="text" id="member1" name="member" placeholder="Member">
            </label><br>
            <label for="member">
                2:
                <input type="text" id="member1" name="member" placeholder="Member">
            </label><br>
            <label for="member">
                3:
                <input type="text" id="member1" name="member" placeholder="Member">
            </label><br>
            <label for="member">
                4:
                <input type="text" id="member1" name="member" placeholder="Member">
            </label><br>
            <ul id="memberList" name="memberList">
                <!--                    lists preexisting members in group-->
            </ul>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
    </form>
</div>

<script>
    var User = require('../../models/user');

    function addMember(){
        var memberToAdd = document.getElementById("member1");
        var newLine = document.createElement("LI");
        var value = document.createTextNode(memberToAdd.value);
        newLine.appendChild(value);
        document.getElementById("memberList").appendChild(newLine);
    }

    function deleteMember(){
        var toDelete = document.getElementById("memberList");
        toDelete.remove(toDelete.selectedIndex);
    }

    function search(){
        /*Searches for closest matches*/
        var input = document.getElementById('memberInput')
        if(input.value !== ""){
            var searchTerm = input.value;
            var query = User.find({name: searchTerm})
        }
    }
</script>
<% include ../partials/footer %>
